# IBM Attrition assignment 2

In [2]:
#imports needed

import pandas as pd

In [33]:
# importing the csv file

ibm_data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [4]:
ibm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

# Show a breakdown of distance from home by job role and attrition.

In [40]:
def convert_status(attrition):
    if attrition == "Yes":
        return "1"
    elif attrition == "No":
        return "2"
    
ibm_data["AttritionStatus"] = ibm_data["Attrition"].apply(convert_status)

In [12]:
ibm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
 35  AttritionStatus           1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [46]:
ibm_data.groupby(["JobRole","DistanceFromHome"])["Attrition"].count()

JobRole                    DistanceFromHome
Healthcare Representative  1                   23
                           2                   15
                           3                    4
                           4                    3
                           5                    6
                           6                    4
                           7                    8
                           8                    8
                           9                    5
                           10                   7
                           11                   5
                           12                   3
                           13                   2
                           14                   2
                           15                   3
                           16                   4
                           17                   1
                           18                   4
                           20                   5
                           21                   2
                           23                   3
                           24                   4
                           25                   4
                           26                   1
                           27                   2
                           28                   1
                           29                   2
Human Resources            1                    9
                           2                   10
                           3                    3
                           4                    2
                           5                    1
                           6                    3
                           8                    6
                           9                    2
                           10                   2
                           11                   1
                           13                   2
                           17                   2
                           18                   1
                           19                   1
                           20                   1
                           22                   2
                           23                   1
                           24                   1
                           25                   1
                           26                   1
Laboratory Technician      1                   31
                           2                   36
                           3                   15
                           4                   12
                           5                    9
                           6                   15
                           7                   16
                           8                   14
                           9                   22
                           10                   9
                           11                   5
                           12                   4
                           13                   2
                           14                   3
                           15                   5
                           16                   7
                           17                   5
                           18                   3
                           19                   6
                           20                   4
                           21                   4
                           22                   1
                           23                   5
                           24                  10
                           25                   4
                           27                   1
                           28                   4
                           29                   7
Manager                    1                   13
                           2                   25
                           3                    6
                           4                    8
                           5                    6
                           6                    3
                           7                    5
                           8                    3
                           9                    4
                           10                   5
                           11                   3
                           13                   1
                           15                   1
                           16                   1
                           17                   2
                           18                   1
                           21                   1
                           22                   3
                           25                   1
                           26                   6
                           29                   4
Manufacturing Director     1                   24
                           2                   24
                           3                    5
                           4                    6
                           5                    4
                           6                    5
                           7                   11
                           8                    6
                           9                    5
                           10                   8
                           11                   3
                           12                   3
                           13                   1
                           15                   1
                           16                   3
                           17                   2
                           18                   6
                           19                   3
                           20                   2
                           21                   2
                           22                   2
                           23                   3
                           24                   3
                           25                   4
                           27                   3
                           28                   2
                           29                   4
Research Director          1                   13
                           2                   11
                           3                    6
                           4                    1
                           5                    3
                           6                    4
                           7                    7
                           8                    5
                           9                    2
                           10                   6
                           11                   1
                           12                   2
                           14                   3
                           15                   5
                           17                   1
                           18                   1
                           22                   2
                           23                   2
                           25                   1
                           26                   1
                           28                   3
Research Scientist         1                   47
                           2                   36
                           3                   20
                           4                   11
                           5                   17
                           6                   15
                           7                   14
                           8                   12
                           9                   21
                           10                  16
                           11                   3
                           12                   1
                           13                   2
                           14                   6
                           15                   5
                           16                   6
                           17                   5
                           18                   5
                           19                   7
                           20                   4
                           21                   2
                           22                   4
                           23                   8
                           24                   3
                           25                   5
                           26                   6
                           27                   2
                           28                   5
                           29                   4
Sales Executive            1                   39
                           2                   39
                           3                   22
                           4                   18
                           5                   13
                           6                    8
                           7                   16
                           8                   23
                           9                   15
                           10                  28
                           11                   7
                           12                   5
                           13                   7
                           14                   6
                           15                   6
                           16                  11
                           17                   2
                           18                   5
                           19                   4
                           20                   6
                           21                   4
                           22                   3
                           23                   4
                           24                   4
                           25                   5
                           26                  10
                           27                   4
                           28                   7
                           29                   5
Sales Representative       1                    9
                           2                   15
                           3                    3
                           4                    3
                           5                    6
                           6                    2
                           7                    7
                           8                    3
                           9                    9
                           10                   5
                           11                   1
                           12                   2
                           13                   2
                           14                   1
                           19                   1
                           20                   3
                           21                   3
                           22                   2
                           23                   1
                           24                   3
                           28                   1
                           29                   1
Name: Attrition, dtype: int64

# Compare average monthly income by education and attrition.

In [10]:
def convert_status(attrition):
    if attrition == "Yes":
        return "1"
    elif attrition == "No":
        return "2"
    
ibm_data["AttritionStatus"] = ibm_data["Attrition"].apply(convert_status).astype('int64')

In [11]:
ibm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
 35  AttritionStatus           1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [42]:
ibm_data.groupby(["AttritionStatus","Education"])["MonthlyIncome"].count()

AttritionStatus  Education
1                1             31
                 2             44
                 3             99
                 4             58
                 5              5
2                1            139
                 2            238
                 3            473
                 4            340
                 5             43
Name: MonthlyIncome, dtype: int64

Those with low income are the one's who mostly left the organization while the higher income remained